{{#contact}}
<li class="table-view-cell media">
    <a class="navigate-right">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
            {{ pseudo }}
            <ul>
                <li><label>Nom : </label>{{ nom }}</li>
                <li><label>Prénom : </label>{{ prenom }}</li>
                <li><label>Numéro de Téléphone : </label>{{ telephone }}</li>
            </ul>
        </div>
    </a>
</li>
{{/contact}}
