<li class="table-view-cell media">
    <a id="{{ chatroom }}" class="navigate-right chatroom">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
            {{ contact.pseudo }}
            <ul>
                <li><label>Nom : </label>{{ contact.nom }}</li>
                <li><label>Prénom : </label>{{ contact.prenom }}</li>
                <li><label>Numéro de Téléphone : </label>{{ contact.telephone }}</li>
            </ul>
        </div>
    </a>
</li>
