<center>
    Impossible de se connecter ! Revérifier votre Pseudo ou Mot de Passe !
</center>
</br>
<a id="connect_page">
<button class='btn btn-positive btn-block'>Retourner à la page de connexion.</button>
</a>