<header class="bar bar-nav">
    <h1 class="title">Page d'accueil</h1>
</header>

<ul class="table-view">
    <li class="table-view-cell media">
        {{ #pseudo }}
        Bienvenue <strong>{{ pseudo }}</strong> !
        {{ /pseudo }}
    </li>
    <li id="contacts-dispo" class="table-view-divider sucess">Contacts disponibles</li>
    <li id="contacts-non-dispo" class="table-view-divider danger">Contacts non disponibles</li>
</ul>

<nav class="bar bar-tab">
    <a id="accueil" class="tab-item active" href="#">
        <span class="icon icon-home"></span>
        <span class="tab-label">Accueil</span>
    </a>
    <a id="profil" class="tab-item" href="#">
        <span class="icon icon-person"></span>
        <span class="tab-label">Profil</span>
    </a>
    <a id="list_contact" class="tab-item" href="#">
        <span class="icon icon-list"></span>
        <span class="tab-label">Contacts</span>
    </a>
    <a id="param" class="tab-item" href="#">
        <span class="icon icon-gear"></span>
        <span class="tab-label">Paramètres</span>
    </a>
</nav>
