<!-- Modif Pseudo Tel et mdp -->

<!-- Suppression de compte -->

<!-- Deconnexion -->
<button id="deconnect" class="btn btn-positive btn-block">Deconnexion</button>
<nav class="bar bar-tab">
    <a class="tab-item" href="#">
        <span class="icon icon-home"></span>
        <span class="tab-label">Accueil</span>
    </a>
    <a class="tab-item" href="#">
        <span class="icon icon-person"></span>
        <span class="tab-label">Profil</span>
    </a>
    <a id="list_contact" class="tab-item" href="#">
        <span class="icon icon-list"></span>
        <span class="tab-label">Contacts</span>
    </a>
    <a class="tab-item" href="#">
        <span class="icon icon-search"></span>
        <span class="tab-label">Recherche</span>
    </a>
    <a id="param" class="tab-item active" href="#">
        <span class="icon icon-gear"></span>
        <span class="tab-label">Paramètres</span>
    </a>
</nav>

