{{ #pseudo }}
{{pseudo}}
{{ /pseudo }}

{{ #nom }}
{{nom}}
{{ /nom }}

{{ #prenom }}
{{prenom}}
{{ /prenom }}

{{ #telephone }}
{{telephone}}
{{ /telephone }}

<nav class="bar bar-tab">
    <a id="accueil" class="tab-item" href="#">
        <span class="icon icon-home"></span>
        <span class="tab-label">Accueil</span>
    </a>
    <a id="profil" class="tab-item" href="#">
        <span class="icon icon-person active"></span>
        <span class="tab-label">Profil</span>
    </a>
    <a id="list_contact" class="tab-item" href="#">
        <span class="icon icon-list"></span>
        <span class="tab-label">Contacts</span>
    </a>
    <a id="param" class="tab-item" href="#">
        <span class="icon icon-gear"></span>
        <span class="tab-label">Paramètres</span>
    </a>
</nav>
