.table-view {
    padding-top: 44px;
}

#chat { 
	background: #ccc;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%; 
}

#chat input { 
	border: 0; 
	padding: 10px; 
	width: 90%; 
	margin-right: .5%; 
}

#chat button {
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	width: 9%; 
	background: #5cb85c;
	border: none; 
	padding: 10px; 
}

.message-dest {
	background: #eee;
}